services:
  unitree_ros:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      - DISPLAY=${DISPLAY:-}
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - CYCLONEDDS_URI=/ros2_ws/cyclonedds.xml
      - LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${HOME}/.Xauthority:/root/.Xauthority:rw
      # Mount only your custom packages and config files
      - ./src/nobody_bringup:/ros2_ws/src/nobody_bringup
      - ./src/HesaiLidar_ROS_2.0:/ros2_ws/src/HesaiLidar_ROS_2.0
      - ./cyclonedds.xml:/ros2_ws/cyclonedds.xml
    network_mode: "host"
    ipc: "host"
    privileged: true
    devices:
      - /dev/input:/dev/input
    restart: no
    command: >
      bash -c "
      cd /ros2_ws &&
      colcon build --packages-select nobody_bringup hesai_ros_driver --symlink-install &&
      source /ros2_ws/install/setup.bash &&
      ros2 launch nobody_bringup nobody.launch.py
      "

  foxglove_bridge:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      - DISPLAY=${DISPLAY:-}
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - CYCLONEDDS_URI=/ros2_ws/cyclonedds.xml
      - LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${HOME}/.Xauthority:/root/.Xauthority:rw
      - ./cyclonedds.xml:/ros2_ws/cyclonedds.xml
    network_mode: "host"
    ipc: "host"
    privileged: true
    restart: no
    command: >
      bash -c "
      source /ros2_ws/install/setup.bash &&
      ros2 run foxglove_bridge foxglove_bridge
      "
