services:
  ptp_master:
    build:
      context: .
      dockerfile: docker/Dockerfile.ptp
    network_mode: "host"
    privileged: true
    restart: unless-stopped
    command: >
      ptp4l -i eth0 -S -m

  unitree_ros:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      - DISPLAY=${DISPLAY:-}
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - CYCLONEDDS_URI=/ros2_ws/cyclonedds.xml
      - LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${HOME}/.Xauthority:/root/.Xauthority:rw
      # Mount only your custom packages and config files
      - ./src/nobody_bringup:/ros2_ws/src/nobody_bringup
      - ./src/nobody_bringup/config/hesai_params.yaml:/ros2_ws/src/HesaiLidar_ROS_2.0/config/config.yaml
      - ./cyclonedds.xml:/ros2_ws/cyclonedds.xml
      - ./maps:/ros2_ws/maps
    network_mode: "host"
    ipc: "host"
    privileged: true
    devices:
      - /dev:/dev
    runtime: nvidia
    restart: unless-stopped
    command: >
      bash -c " cd /ros2_ws && colcon build --packages-select nobody_bringup hesai_ros_driver --symlink-install && source /ros2_ws/install/setup.bash && ros2 launch nobody_bringup nobody.launch.py "

  torch_ros:
    build:
      context: .
      dockerfile: docker/Dockerfile.torch
    environment:
      - DISPLAY=${DISPLAY:-}
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - CYCLONEDDS_URI=/ros2_ws/cyclonedds.xml
      - LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${HOME}/.Xauthority:/root/.Xauthority:rw
      # Mount only your custom packages and config files
      - ./src/nobody_nodes:/ros2_ws/src/nobody_nodes
      - ./cyclonedds.xml:/ros2_ws/cyclonedds.xml
    network_mode: "host"
    ipc: "host"
    privileged: true
    devices:
      - /dev:/dev
    runtime: nvidia
    restart: unless-stopped
    command: >
      bash -ci "cd /ros2_ws && colcon build --packages-select nobody_nodes --symlink-install && source /ros2_ws/install/local_setup.bash && ros2 launch nobody_nodes filters.launch.py  "

  foxglove_bridge:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      - DISPLAY=${DISPLAY:-}
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - CYCLONEDDS_URI=/ros2_ws/cyclonedds.xml
      - LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${HOME}/.Xauthority:/root/.Xauthority:rw
      - ./cyclonedds.xml:/ros2_ws/cyclonedds.xml
    network_mode: "host"
    ipc: "host"
    privileged: true
    restart: unless-stopped
    command: >
      bash -c " source /ros2_ws/install/setup.bash && ros2 run foxglove_bridge foxglove_bridge "

  simulation:
    profiles: [ "sim" ]
    build:
      context: .
      dockerfile: docker/Dockerfile.sim
    container_name: argo-simulation
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    network_mode: "host"
    ipc: "host"
    pid: "host"
    privileged: true
    command: >
      bash -c " source /ros2_ws/install/setup.bash && ros2 launch go2_config gazebo_velodyne.launch.py "
